<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/estilo.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="shortcut icon" href="resources/img/ico.ico" type="image/x-icon">
    <link rel="stylesheet" href="resources/css/form.css">
    
    <!--<script src="/js/publicity.js"></script>-->
    <title>Tu mascota</title>
</head>
<body>
    <header class="header_">
        <div class="header_class">
            <div class="class_logo">
                <img src="resources/img/logo.png" alt="" class="logo">
                <img src="resources/img/logo01.png" alt="" class="logo01">
                
            </div>
            <nav class="nav_">
                <ul class="nav_ul">
                    <li><a class="ingresa" href="">Ingresar</a></li>
                    <li><a class="register" href="" >Registrarse</a></li>
                </ul>
                <ul class="nav_ul_center">
                    <div class="search_bar">
                        <input class="input_" type="search" placeholder=" Buscar">
                        <div class="btn">
                            <i class="fas fa-search icon"></i>
                        </div>
                    </div>
                </ul>
            </nav>
        </div> 
        <div class="header_b">
            <div class="header_b_secundario">
                <div class="ico_u">
                    <img class="iconos" src="resources/icos/global.png" alt=""> <h3 class="ico_text">Lugares</h3>
                    <ul class="lugares">
                        <li><a href=""><i class="fa-solid fa-location-dot"></i>Localización</a></li>
                        <li><a href=""><i class="fa-solid fa-location-arrow"></i>Petfriendly</a></li>
                    </ul>
                </div>
                    <div class="ico_d">
                        <img class="iconos" src="resources/icos/billetera.png" alt=""> <h3 class="ico_text">Compras</h3>
                        <ul class="compras">
                            <li><a href=""><i class="fa-solid fa-bone"></i>Mis juguetes</a></li>
                            <li><a href=""><i class="fa-solid fa-cookie"></i>Tengo hambre</a></li>
                            <li><a href=""><i class="fa-solid fa-glasses"></i>Soy fashion</a></li>
                        </ul>
                    </div>
                    <div class="ico_t">
                        <img class="iconos" src="resources/icos/gatito.png" alt=""> <h3 class="ico_text">Servicios</h3>
                        <ul class="servicios">
                            <li><a href=""><i class="fa-solid fa-face-sad-tear"></i>Toy malito</a></li>
                            <li><a href=""><i class="fa-solid fa-graduation-cap"></i>Enseñame</a></li>
                        </ul>
                    </div>
                    <div class="ico_c">
                        <div class="ico_img">
                            <img class="iconos img-compras" src="resources/icos/compras.png" alt="">
                        </div>
                        <div class="number">
                            <p>0</p>
                        </div>
                    </div>
                </ul>
            </div>
        </div>

        <div class="modal-container">
            <div class="modal modal-close">
              <p class="close">x</p>
              <div class="modal-img">
                  <img src="resources/img/form.png" alt="">
              </div>
              <div class="conteiner-form">
                  <h2>EnjoyourPet</h2>
                  <p class="text">¡Disfruta junto a tu mascota!</p>
                <form class="form_login" action="register" method="POST">  
                      <input class="" type="text" name="nombre" placeholder="Nombre" required>
                      <input class="" type="email" name="correo" placeholder="Correo" required>          
                      <input class="" type="password" name="contrseña" placeholder="Contraseña" required>                
                      <input class="" type="number" name="numero" placeholder="Número de celular" required>
                      <input type="submit" class="submit-btn btn-save" value="Save">
                                     
                </form>
                <p>¿Ya tienes una cuenta? <a href="login" class="register text-sesion">Iniciar Sesión</a></p>
              </div>
            </div>
          </div>
    
    </header>
    
    
    
    <div id="adlateral1"></div>
    <div id="adlateral2"></div>

    <div class="main">
        
        <div class="position">
            <h1>El mundo de tu mascota.</h1>
            <p>El lugar perfecto para tu mascota.</p>
        </div>
       <div class="contenedor-slider">
            <div class="slider">
                <div class="contenido-slider">
                    <section>
                        <img src="resources/img/img001.jpg" alt="">
                        <h2>Lorem ipsum dolor sit amet.</h2>
                    </section>
                </div>
                <div class="contenido-slider">
                    <section>
                        <img src="resources/img/img002.jpg" alt="">
                        <h2>¿Nuestros perros tienen gustos y distingue sabores?</h2>
                    </section>
                </div>
                <div class="contenido-slider">
                    <section>
                        <img src="resources/img/img003.jpg" alt="">
                        <h2>Lorem ipsum dolor sit amet.</h2>
                    </section>
                </div>
                <div class="contenido-slider">
                    <section>
                        <img src="resources/img/img001.jpg" alt="">
                        <h2>Lorem ipsum dolor sit amet.</h2>
                    </section>
                </div>
            </div>
       </div>
    </div>
    <footer id="footer">
        <div class="footer-contenedor">
            <div class="partners">
                <div>
                    <h2>Partners</h2>
                    <img src="resources/img/universidad.png" alt="">
                </div>
            </div>
            <div class="redes">
                <div>
                    <a href=""><i class="fa-brands fa-whatsapp"></i></a>
                    <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                </div>
            </div>
            <div class="made">
                <div>
                    <h2>Made with <i class="fa-solid fa-heart"></i> by EnjoyourpetAPP</h2>
                </div>
            </div>
            <div class="copy">
                <div>
                    <h2><i class="fa-solid fa-paw"></i> COPYRIGHT 2022 &#169</h2>
                </div>
            </div>
        </div>
    </footer>
    

    <script src="resources/js/slider.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <% if(typeof alert != "undefined") { %>
        <script>
            Swal.fire({
                title:'<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: <%= showConfirnButton %>,
                timer: <%= timer %>
            }).then(()=>{
                window.location='/ <%= ruta %>'
            })
        </script>
    <% } %>
</body>
</html>     
   